<br />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center">
                        <a href="@Url.Action("Horario","Aula")" name="Aula"><i style="color:orange; font-size: 132px" class="fa fa-table fa-5x"></i></a>
                    </div>
                    <div class="text-center"><h4>Horário</h4> </div>
                </div>
          
                <div class="col-lg-4">
                    <div class="text-center">
                        <a href="@Url.Action("Inventario","Doacao")" name="Aula"><i style="color:forestgreen; font-size: 132px" class="fa fa-cubes fa-5x"></i></a>
                    </div>
                    <div class="text-center"><h4>Doações</h4> </div>
                </div>

                <div class="col-lg-4">
                    <div class="text-center">
                        <a href="@Url.Action("Index","Cadastros")"> <i style=" font-size: 132px" class="fa fa-address-book"></i></a>
                    </div>
                    <div class="text-center"><h4>Cadastros</h4> </div>
                </div>
            </div>
        </div>
    </div>

</div>
